.helper-wrapper {
  position: absolute;
  bottom: -2em;
  right: 0;
  z-index: 100;
  width: 50vw;
  height: 2em;

  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, .8);

  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
}

.helper {
  position: absolute;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);

  opacity: 0;
}
.helper h2 {
  font-family: 'Bree Serif', sans-serif;
  font-size: 1.75em;
}
.helper--active {
  bottom: 0;
}
.helper--view .helper {
  opacity: 1;
}
.editor--view {
  left: -48%;
}
.helper--view {
  height: 40%;
}
.helper-txt {
  opacity: 0;
  font-family: 'Open-Sans', sans-serif;
  font-weight: 300;
  margin-bottom: 30px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
}
.helper--view .helper-txt {
  opacity: 1;
}
.helper-tab {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  border-radius: 0 0 0 10px;
  font-size: 1.5em;
  font-weight: bold;
}

.helper--active .helper-tab:before {
  content: "\203A";
  display: inline-block;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg));
  transform: rotate(270deg);
  position: relative;
  top: -12px;
  right: 1px;
  font-size: 1.5em;
}

.helper--view .helper-tab:before {
  content: "\00d7";
  font-size: 1.5em;
  position: relative;
  top: -10px;
  left: 1px;
}

.editor-tab {
  position: absolute;
  top: 0;
  right: 0;
}
.helper-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
}
.prev,
.next {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 2em;
}
.helper--view .helper-nav{
  opacity: 1;
}
.prev:after {
  content: "\2039";
  font-size: 1.5em;
  display: block;
  margin-top: 20px;
}
.next:after {
  content: '\203a';
  font-size: 1.5em;
  display: block;
  margin-top: 20px;
}

.prev:hover {
  color: #00aeef;
}

.next:hover {
  color: #00aeef;
}
