.helper-wrapper {
  position: absolute;
  bottom: -2em;
  right: 0;
  z-index: 100;
  width: 50vw;
  height: 2em;
  background: #fff;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
}
.helper {
  position: absolute;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.helper--active {
  bottom: 0;
}
.editor--view {
  left: -48%;
}
.helper--view {
  height: 33%;
}
.helper-txt {
  opacity: 0;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
}
.helper--view .helper-txt {
  opacity: 1;
}
.helper-tab {
  position: absolute;
  top: 0;
  left: 0;
}
.editor-tab {
  position: absolute;
  top: 0;
  right: 0;
}
.helper-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.prev,
.next {
  -webkit-appearance: none;
  appearance: none;
}
