html,
body {
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  position: relative;
  margin: 0;
  padding: 0;

  font-family: sans-serif;
}
.preview {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 20;
}
.splash-inner {
  position: absolute;
  top: 50%;
  left: 50%;

  text-align: center;

  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.splash__head {
  margin: 0;
}
h1.splash__head {
  font-family: 'Bree Serif', sans-serif;
  font-weight: normal;
  font-size: 72px;
}
.splash__body {
  margin: 2em 0;
  font-weight: lighter;
  font-size: 1.25em;
  line-height: 1.25;
}
.splash__btn {
  appearance: none;
  border: none;
  padding: 5px 10px;
  background: #00aeef;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 1.5em;
  border-radius: 15px;
  width: 10em;
  cursor: pointer;

  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
}
.splash__btn:hover {
  background: #666;
}
.editor {
  position: absolute;
  top: 0;
  left: -100vw;
  bottom: 0;
  z-index: 100;

  width: 50vw;
  height: 100vh;

  background: black;
  opacity: .8;

  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
}
.editor--active {
  left: 0;
}
#editor .CodeMirror {
  height: 100%;
  font-size: 16px;
  background-color: #272822;

  -webkit-transform: translateZ(0); /* Workaround for OSX antialias issue */
}
#editor .CodeMirror-scroll {
  height: 100%;
}
#editor .CodeMirror div.CodeMirror-selected {
  background: rgba(0,0,0,0.1);
}
#editor .CodeMirror-focused div.CodeMirror-selected {
  background: rgba(186,186,186,0.1);
}
#editor .CodeMirror .errorLine {
  background: rgba(255,0,0,0.25);
}
#editor .CodeMirror .esprima-error {
  color: #f00;
  text-align: right;
  padding: 0px 20px;
}
