html,
body {
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
body {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #ae0bd7;
  font-family: sans-serif;
}
button:active,
button:focus {
  outline: 0;
}
.preview {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 20;
}
.splash {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-image: url('../img/desktop.jpeg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
}
.splash_content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  text-align: center;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.splash__head {
  margin: 0;
}
h1.splash__head {
  font-family: 'Bree Serif', sans-serif;
  font-weight: normal;
  font-size: 72px;
  color: #fff;
}
.splash__body {
  font-family: 'Open Sans', sans-serif;
  margin: 2em 0;
  font-weight: lighter;
  font-size: 1.25em;
  line-height: 1.25;
  color: #fff;
}
.btn {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  padding: 5px 10px;
  background: #00aeef;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
}
.btn:active,
.btn:focus {
  outline: 0;
}
#splash-btn {
  padding: 10px 20px;
  border-radius: 20px;
  width: 10em;
  font-size: 1.5em;
}
.btn:hover {
  background: #666;
}

.editor-wrapper {
  position: absolute;
  top: 0;
  left: -100vw;
  bottom: 0;
  z-index: 100;

  width: 50vw;
  height: 100vh;

  background: black;
  opacity: .8;

  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
}
.editor-wrapper .editor-tab {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 1.5em;
  font-weight: bold;
}
.editor--active {
  left: 0;
}
.editor--active .editor-tab:before {
  content:"\00d7";
}
.editor--view .editor-tab:before {
  content:"\203A";
}
#editor .CodeMirror {
  height: 100%;
  font-size: 16px;
  background-color: #272822;
  -webkit-transform: translateZ(0); /* Workaround for OSX antialias issue */
}
#editor .CodeMirror-scroll {
  height: 100%;
}
#editor .CodeMirror div.CodeMirror-selected {
  background: rgba(0,0,0,0.1);
}
#editor .CodeMirror-focused div.CodeMirror-selected {
  background: rgba(186,186,186,0.1);
}
#editor .CodeMirror .errorLine {
  background: rgba(255,0,0,0.25);
}
#editor .CodeMirror .esprima-error {
  color: #f00;
  text-align: right;
  padding: 0px 20px;
}
