.tool-tip {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
}
.tool-tip__inner {
  display: inline-block;
  color: #00aeef;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
}
.tool-tip__inner:hover {
  color: #ae0bd7;
}
.tool-tip__info {
  position: absolute;
  display: none;
  min-width: 225px;
  max-width: 300px;
  background: #ae0bd7;
  color: white;
  font-size: 11px;
  padding: 10px 15px;
  border-radius: 15px;
  -webkit-box-shadow: 3px 2px 8px rgba(0,0,0,.2);
  box-shadow: 3px 2px 8px rgba(0,0,0,.2);
}
.tool-tip:hover .tool-tip__info {
  display: block;
}
